In [1]:
SQL_SOURCE = 'https://rls672.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
test = '''
SELECT *
FROM citibike
'''

In [3]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,1,1965.0,19217,462,435,351,5960,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,NaN,Subscriber,NaN,1,1971.0,17575,488,167,643,9806,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,NaN,Subscriber,NaN,1,1973.0,20313,440,332,1379,13113,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,NaN,Subscriber,NaN,2,1978.0,17131,423,521,801,1,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,NaN,Subscriber,NaN,1,1993.0,21289,504,497,379,2,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,NaN,Subscriber,NaN,2,1969.0,18903,127,281,2474,3,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,NaN,Subscriber,NaN,2,1985.0,21044,505,2004,818,4,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,NaN,Subscriber,NaN,1,1957.0,19868,83,323,544,5,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,NaN,Subscriber,NaN,1,1979.0,15854,2002,373,717,6,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,NaN,Subscriber,NaN,1,1983.0,15173,504,352,1306,7,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
10,NaN,Subscriber,NaN,1,1955.0,17862,116,439,913,8,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
11,NaN,Subscriber,NaN,2,1985.0,21183,2012,335,759,9,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
12,NaN,Subscriber,NaN,1,1982.0,14843,444,284,585,10,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
13,NaN,Subscriber,NaN,2,1988.0,16936,444,284,581,11,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
14,NaN,Subscriber,NaN,2,1991.0,21507,472,498,204,12,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
15,NaN,Subscriber,NaN,2,1982.0,17456,307,368,1169,13,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
16,NaN,Subscriber,NaN,2,1990.0,14679,2012,326,419,14,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
17,NaN,Subscriber,NaN,1,1977.0,18978,212,285,527,15,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
18,NaN,Subscriber,NaN,1,1968.0,16496,488,368,1013,16,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
19,NaN,Subscriber,NaN,1,1990.0,17107,331,394,587,17,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
20,NaN,Subscriber,NaN,1,1987.0,16984,507,326,525,18,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
21,NaN,Subscriber,NaN,1,1980.0,15997,305,493,670,19,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
22,NaN,Subscriber,NaN,1,1960.0,21516,223,445,711,20,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
23,NaN,Subscriber,NaN,1,1986.0,15815,457,428,1559,21,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
24,NaN,Subscriber,NaN,1,1987.0,18727,477,228,683,22,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
25,NaN,Subscriber,NaN,1,1969.0,14982,488,513,522,23,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
26,NaN,Subscriber,NaN,1,1957.0,16391,518,507,389,24,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
27,NaN,Subscriber,NaN,1,1981.0,15947,473,439,276,25,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
28,NaN,Subscriber,NaN,1,1993.0,16917,531,128,907,26,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
29,NaN,Subscriber,NaN,1,1975.0,15924,528,490,946,27,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,Subscriber,NaN,1,1988.0,15733,435,335,812,46171,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
46171,NaN,Subscriber,NaN,1,1995.0,16931,504,361,647,46172,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
46172,NaN,Subscriber,NaN,1,1987.0,17202,401,152,563,46173,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
46173,NaN,Subscriber,NaN,2,1989.0,20314,439,483,470,46174,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
46174,NaN,Subscriber,NaN,1,1989.0,21531,395,467,299,46175,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
46175,NaN,Subscriber,NaN,1,1968.0,21491,504,361,629,46176,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
46176,NaN,Subscriber,NaN,1,1990.0,15367,380,402,499,46177,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46177,NaN,Subscriber,NaN,2,1973.0,18978,368,369,474,46178,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46178,NaN,Subscriber,NaN,1,1980.0,19507,504,476,345,46179,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
46179,NaN,Subscriber,NaN,1,1980.0,16936,160,499,829,46180,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
46180,NaN,Subscriber,NaN,1,1982.0,18689,531,368,776,46181,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46181,NaN,Subscriber,NaN,1,1972.0,15781,478,520,697,46182,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46182,NaN,Subscriber,NaN,1,1988.0,15081,471,467,1703,46183,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
46183,NaN,Subscriber,NaN,1,1983.0,21672,247,479,922,46184,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
46184,NaN,Subscriber,NaN,1,1970.0,16336,488,457,849,46185,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46185,NaN,Subscriber,NaN,1,1973.0,21609,488,457,826,46186,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46186,NaN,Subscriber,NaN,1,1964.0,19470,3002,328,473,46187,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
46187,NaN,Subscriber,NaN,1,1960.0,18167,450,510,332,46188,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
46188,NaN,Subscriber,NaN,1,1987.0,15929,404,382,456,46189,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
46189,NaN,Subscriber,NaN,1,1983.0,17541,466,254,327,46190,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46190,NaN,Subscriber,NaN,2,1983.0,14736,494,116,306,46191,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46191,NaN,Subscriber,NaN,1,1984.0,16300,432,495,1248,46192,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
46192,NaN,Subscriber,NaN,1,1959.0,16978,325,152,1165,46193,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
46193,NaN,Subscriber,NaN,1,1974.0,16722,295,461,993,46194,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
46194,NaN,Subscriber,NaN,2,1960.0,20184,265,455,1422,46195,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
46195,NaN,Subscriber,NaN,1,1953.0,15585,325,470,689,46196,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
46196,NaN,Subscriber,NaN,2,1986.0,16395,325,474,428,46197,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
46197,NaN,Subscriber,NaN,1,1986.0,15545,325,474,392,46198,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
46198,NaN,Subscriber,NaN,2,1983.0,19540,334,368,548,46199,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
46199,NaN,Subscriber,NaN,2,1965.0,20998,417,439,917,46200,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

### Task 1 â€” Familiarize with SQL Clauses

- Sort data by start_station_id, tripduration
    - Only checking trips with duration <= 3 hours
- Only show the top/last 10 records (aka head and tail in SQL)
- List all unique start_station_id values
- Aggregation functions:
    - Count the number of trips (aka wc -l in SQL)
    - Find the average/min/max trip durationion <= 3 hours

- Sort data by start_station_id, tripduration
    - Only checking trips with duration <= 3 hours

In [4]:
q1_1 = '''
SELECT * FROM citibike WHERE tripduration < 10800 ORDER BY start_station_id, tripduration
'''
task1_1 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_1)), sep=',')
task1_1

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,2,1980.0,19039,72,72,107,8998,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,NaN,Subscriber,NaN,2,1959.0,18131,72,72,189,40759,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
2,NaN,Subscriber,NaN,1,1995.0,19729,72,72,229,40757,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
3,NaN,Subscriber,NaN,1,1970.0,16879,478,72,248,21948,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-05 06:24:00+00,2015-02-05 06:19:00+00
4,NaN,Subscriber,NaN,1,1983.0,15277,515,72,252,43099,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 15:47:00+00,2015-02-07 15:43:00+00
5,NaN,Subscriber,NaN,1,1971.0,18492,478,72,261,32566,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
6,NaN,Subscriber,NaN,1,1961.0,19216,478,72,276,15971,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-04 12:51:00+00,2015-02-04 12:46:00+00
7,NaN,Subscriber,NaN,1,1974.0,21588,447,72,283,41355,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 12:15:00+00,2015-02-07 12:10:00+00
8,NaN,Subscriber,NaN,1,1978.0,19124,514,72,288,42074,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-07 13:54:00+00,2015-02-07 13:50:00+00
9,NaN,Subscriber,NaN,1,1974.0,18174,447,72,301,2282,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00
10,NaN,Subscriber,NaN,1,1983.0,18198,526,72,304,44674,E 33 St & 5 Ave,W 52 St & 11 Ave,-73.984907,40.747659,-73.993929,40.767272,2015-02-07 18:36:00+00,2015-02-07 18:31:00+00
11,NaN,Subscriber,NaN,1,1982.0,19672,478,72,339,2142,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-01 13:00:00+00,2015-02-01 12:54:00+00
12,NaN,Subscriber,NaN,2,1986.0,14692,2021,72,344,649,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-01 09:54:00+00,2015-02-01 09:49:00+00
13,NaN,Subscriber,NaN,1,1983.0,17669,447,72,345,44789,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 18:51:00+00,2015-02-07 18:46:00+00
14,NaN,Subscriber,NaN,1,1961.0,16754,478,72,348,9494,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-03 13:06:00+00,2015-02-03 13:01:00+00
15,NaN,Subscriber,NaN,1,1983.0,21114,500,72,359,42446,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-07 14:39:00+00,2015-02-07 14:33:00+00
16,NaN,Subscriber,NaN,1,1970.0,19729,515,72,366,41465,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 12:36:00+00,2015-02-07 12:29:00+00
17,NaN,Subscriber,NaN,1,1981.0,18620,500,72,367,14395,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-04 09:05:00+00,2015-02-04 08:59:00+00
18,NaN,Subscriber,NaN,1,1981.0,20119,450,72,373,19984,W 49 St & 8 Ave,W 52 St & 11 Ave,-73.987882,40.762272,-73.993929,40.767272,2015-02-04 19:22:00+00,2015-02-04 19:16:00+00
19,NaN,Subscriber,NaN,1,1981.0,20988,500,72,375,8726,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 09:21:00+00,2015-02-03 09:15:00+00
20,NaN,Subscriber,NaN,2,1972.0,16310,500,72,377,25842,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 13:01:00+00,2015-02-05 12:55:00+00
21,NaN,Subscriber,NaN,1,1978.0,18287,514,72,377,26155,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-05 13:52:00+00,2015-02-05 13:46:00+00
22,NaN,Subscriber,NaN,1,1973.0,18991,500,72,379,25587,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 12:21:00+00,2015-02-05 12:15:00+00
23,NaN,Subscriber,NaN,1,1981.0,20600,500,72,380,24156,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 09:21:00+00,2015-02-05 09:14:00+00
24,NaN,Subscriber,NaN,1,1973.0,15927,479,72,386,27104,9 Ave & W 45 St,W 52 St & 11 Ave,-73.991255,40.760193,-73.993929,40.767272,2015-02-05 16:06:00+00,2015-02-05 16:00:00+00
25,NaN,Subscriber,NaN,1,1991.0,15282,514,72,387,3957,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-01 16:03:00+00,2015-02-01 15:57:00+00
26,NaN,Subscriber,NaN,1,1980.0,17196,500,72,388,9194,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 11:30:00+00,2015-02-03 11:23:00+00
27,NaN,Subscriber,NaN,1,1978.0,16405,529,72,388,31639,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-06 08:00:00+00,2015-02-06 07:53:00+00
28,NaN,Subscriber,NaN,1,1974.0,19771,500,72,396,38564,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-06 20:01:00+00,2015-02-06 19:55:00+00
29,NaN,Subscriber,NaN,2,1986.0,17972,2021,72,396,33221,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-06 10:06:00+00,2015-02-06 09:59:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,NaN,Subscriber,NaN,1,1958.0,17595,388,3002,1221,31410,W 26 St & 10 Ave,South End Ave & Liberty St,-74.002950,40.749718,-74.015756,40.711512,2015-02-06 07:54:00+00,2015-02-06 07:33:00+00
46122,NaN,Subscriber,NaN,1,1962.0,15178,434,3002,1240,22533,9 Ave & W 18 St,South End Ave & Liberty St,-74.003664,40.743174,-74.015756,40.711512,2015-02-05 07:58:00+00,2015-02-05 07:37:00+00
46123,NaN,Customer,NaN,0,NaN,18288,360,3002,1243,1333,William St & Pine St,South End Ave & Liberty St,-74.008873,40.707179,-74.015756,40.711512,2015-02-01 11:48:00+00,2015-02-01 11:27:00+00
46124,NaN,Subscriber,NaN,1,1974.0,16147,496,3002,1244,23807,E 16 St & 5 Ave,South End Ave & Liberty St,-73.992390,40.737262,-74.015756,40.711512,2015-02-05 09:16:00+00,2015-02-05 08:55:00+00
46125,NaN,Subscriber,NaN,1,1973.0,17061,521,3002,1285,27637,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-05 17:20:00+00,2015-02-05 16:59:00+00
46126,NaN,Subscriber,NaN,1,1991.0,17198,459,3002,1312,22399,W 20 St & 11 Ave,South End Ave & Liberty St,-74.007756,40.746745,-74.015756,40.711512,2015-02-05 07:48:00+00,2015-02-05 07:26:00+00
46127,NaN,Subscriber,NaN,1,1958.0,20872,388,3002,1313,24714,W 26 St & 10 Ave,South End Ave & Liberty St,-74.002950,40.749718,-74.015756,40.711512,2015-02-05 10:21:00+00,2015-02-05 10:00:00+00
46128,NaN,Subscriber,NaN,1,1955.0,15495,168,3002,1332,41541,W 18 St & 6 Ave,South End Ave & Liberty St,-73.994564,40.739713,-74.015756,40.711512,2015-02-07 13:02:00+00,2015-02-07 12:40:00+00
46129,NaN,Subscriber,NaN,1,1966.0,20780,382,3002,1417,43007,University Pl & E 14 St,South End Ave & Liberty St,-73.992005,40.734927,-74.015756,40.711512,2015-02-07 15:59:00+00,2015-02-07 15:35:00+00
46130,NaN,Subscriber,NaN,1,1956.0,17077,334,3002,1445,35349,W 20 St & 7 Ave,South End Ave & Liberty St,-73.997262,40.742388,-74.015756,40.711512,2015-02-06 16:02:00+00,2015-02-06 15:38:00+00
46131,NaN,Subscriber,NaN,1,1986.0,20268,438,3002,1460,20877,St Marks Pl & 1 Ave,South End Ave & Liberty St,-73.985649,40.727791,-74.015756,40.711512,2015-02-04 21:20:00+00,2015-02-04 20:56:00+00
46132,NaN,Subscriber,NaN,1,1954.0,15586,514,3002,1485,39913,12 Ave & W 40 St,South End Ave & Liberty St,-74.002777,40.760875,-74.015756,40.711512,2015-02-07 08:52:00+00,2015-02-07 08:27:00+00
46133,NaN,Subscriber,NaN,1,1986.0,19331,438,3002,1521,38954,St Marks Pl & 1 Ave,South End Ave & Liberty St,-73.985649,40.727791,-74.015756,40.711512,2015-02-06 21:36:00+00,2015-02-06 21:11:00+00
46134,NaN,Subscriber,NaN,1,1949.0,15627,375,3002,1606,30026,Mercer St & Bleecker St,South End Ave & Liberty St,-73.996951,40.726795,-74.015756,40.711512,2015-02-05 20:29:00+00,2015-02-05 20:02:00+00
46135,NaN,Subscriber,NaN,1,1959.0,17488,494,3002,1626,14538,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-04 09:39:00+00,2015-02-04 09:11:00+00
46136,NaN,Customer,NaN,0,NaN,16918,478,3002,1666,2368,11 Ave & W 41 St,South End Ave & Liberty St,-73.998842,40.760301,-74.015756,40.711512,2015-02-01 13:46:00+00,2015-02-01 13:18:00+00
46137,NaN,Subscriber,NaN,1,1959.0,15102,494,3002,1716,24145,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-05 09:43:00+00,2015-02-05 09:14:00+00
46138,NaN,Subscriber,NaN,1,1959.0,15403,521,3002,1717,32820,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-06 09:48:00+00,2015-02-06 09:19:00+00
46139,NaN,Subscriber,NaN,1,1969.0,21158,318,3002,1776,35576,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-06 16:32:00+00,2015-02-06 16:02:00+00
46140,NaN,Subscriber,NaN,1,1981.0,16496,449,3002,1823,24214,W 52 St & 9 Ave,South End Ave & Liberty St,-73.987895,40.764618,-74.015756,40.711512,2015-02-05 09:50:00+00,2015-02-05 09:20:00+00
46141,NaN,Subscriber,NaN,1,1969.0,20246,318,3002,1830,17590,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-04 17:04:00+00,2015-02-04 16:33:00+00
46142,NaN,Customer,NaN,0,NaN,17849,525,3002,1900,1228,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
46143,NaN,Subscriber,NaN,1,1996.0,19133,279,3002,1908,11587,Peck Slip & Front St,South End Ave & Liberty St,-74.001670,40.707873,-74.015756,40.711512,2015-02-03 19:26:00+00,2015-02-03 18:54:00+00
46144,NaN,Subscriber,NaN,2,1964.0,15443,410,3002,1920,44703,Suffolk St & Stanton St,South End Ave & Liberty St,-73.985180,40.720664,-74.015756,40.711512,2015-02-07 19:08:00+00,2015-02-07 18:36:00+00
46145,NaN,Subscriber,NaN,1,1959.0,19665,494,3002,1976,6781,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
46146,NaN,Subscriber,NaN,1,1969.0,20069,318,3002,1977,27203,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-05 16:44:00+00,2015-02-05 16:11:00+00
46147,NaN,Subscriber,NaN,1,1969.0,15309,318,3002,1977,10173,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-03 16:37:00+00,2015-02-03 16:04:00+00
46148,NaN,Subscriber,NaN,1,1985.0,21473,359,3002,2131,23529,E 47 St & Park Ave,South End Ave & Liberty St,-73.974987,40.755103,-74.015756,40.711512,2015-02-05 09:17:00+00,2015-02-05 08:42:00+00
46149,NaN,Subscriber,NaN,1,1958.0,15552,510,3002,2139,8831,W 51 St & 6 Ave,South End Ave & Liberty St,-73.980420,40.760660,-74.015756,40.711512,2015-02-03 10:09:00+00,2015-02-03 09:33:00+00
46150,NaN,Customer,NaN,0,NaN,21202,499,3002,7225,1506,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00

- Only show the top/last 10 records (aka head and tail in SQL)

In [5]:
q1_2 = '''
SELECT * FROM citibike WHERE tripduration < 10800 ORDER BY start_station_id, tripduration LIMIT 10
'''
task1_2 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_2)), sep=',')
task1_2

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,2,1980,19039,72,72,107,8998,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,NaN,Subscriber,NaN,2,1959,18131,72,72,189,40759,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
2,NaN,Subscriber,NaN,1,1995,19729,72,72,229,40757,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
3,NaN,Subscriber,NaN,1,1970,16879,478,72,248,21948,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-05 06:24:00+00,2015-02-05 06:19:00+00
4,NaN,Subscriber,NaN,1,1983,15277,515,72,252,43099,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 15:47:00+00,2015-02-07 15:43:00+00
5,NaN,Subscriber,NaN,1,1971,18492,478,72,261,32566,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
6,NaN,Subscriber,NaN,1,1961,19216,478,72,276,15971,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-04 12:51:00+00,2015-02-04 12:46:00+00
7,NaN,Subscriber,NaN,1,1974,21588,447,72,283,41355,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 12:15:00+00,2015-02-07 12:10:00+00
8,NaN,Subscriber,NaN,1,1978,19124,514,72,288,42074,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-07 13:54:00+00,2015-02-07 13:50:00+00
9,NaN,Subscriber,NaN,1,1974,18174,447,72,301,2282,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00

In [6]:
q1_3 = '''
SELECT * FROM citibike WHERE tripduration < 10800 ORDER BY start_station_id, tripduration DESC LIMIT 10
'''
task1_3 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_3)), sep=',')
task1_3

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,2,1966.0,18653,328,72,2099,9054,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-03 11:02:00+00,2015-02-03 10:28:00+00
1,NaN,Customer,NaN,0,NaN,17849,328,72,1944,1983,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-01 13:12:00+00,2015-02-01 12:39:00+00
2,NaN,Subscriber,NaN,2,1966.0,21520,328,72,1914,40341,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-07 10:21:00+00,2015-02-07 09:49:00+00
3,NaN,Subscriber,NaN,2,1959.0,15161,328,72,1801,12938,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-04 07:02:00+00,2015-02-04 06:32:00+00
4,NaN,Subscriber,NaN,1,1964.0,21500,79,72,1678,11298,Franklin St & W Broadway,W 52 St & 11 Ave,-74.006667,40.719116,-73.993929,40.767272,2015-02-03 18:49:00+00,2015-02-03 18:21:00+00
5,NaN,Subscriber,NaN,2,1977.0,18900,487,72,1537,13647,E 20 St & FDR Drive,W 52 St & 11 Ave,-73.975739,40.733143,-73.993929,40.767272,2015-02-04 08:33:00+00,2015-02-04 08:07:00+00
6,NaN,Subscriber,NaN,2,1956.0,15117,334,72,1535,9742,W 20 St & 7 Ave,W 52 St & 11 Ave,-73.997262,40.742388,-73.993929,40.767272,2015-02-03 14:48:00+00,2015-02-03 14:23:00+00
7,NaN,Subscriber,NaN,1,1971.0,19039,476,72,1518,11240,E 31 St & 3 Ave,W 52 St & 11 Ave,-73.979661,40.743943,-73.993929,40.767272,2015-02-03 18:42:00+00,2015-02-03 18:16:00+00
8,NaN,Subscriber,NaN,1,1964.0,21080,79,72,1493,20309,Franklin St & W Broadway,W 52 St & 11 Ave,-74.006667,40.719116,-73.993929,40.767272,2015-02-04 20:12:00+00,2015-02-04 19:47:00+00
9,NaN,Subscriber,NaN,1,1974.0,19672,127,72,1388,24953,Barrow St & Hudson St,W 52 St & 11 Ave,-74.006744,40.731724,-73.993929,40.767272,2015-02-05 10:58:00+00,2015-02-05 10:34:00+00

In [7]:
q1_5 = '''
SELECT * FROM citibike WHERE tripduration<10800 ORDER BY tripduration DESC LIMIT 10
'''
task1_5 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_5)), sep=',')
task1_5.head(10)

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,1,1973,15082,173,284,10757,41392,Broadway & W 49 St,Greenwich Ave & 8 Ave,-73.984427,40.760647,-74.002638,40.739017,2015-02-07 15:16:00+00,2015-02-07 12:17:00+00
1,NaN,Subscriber,NaN,1,1950,16099,435,512,10660,10912,W 21 St & 6 Ave,W 29 St & 9 Ave,-73.994156,40.741740,-73.998393,40.750073,2015-02-03 20:40:00+00,2015-02-03 17:42:00+00
2,NaN,Subscriber,NaN,1,1983,21323,405,405,10174,40221,Washington St & Gansevoort St,Washington St & Gansevoort St,-74.008119,40.739323,-74.008119,40.739323,2015-02-07 12:20:00+00,2015-02-07 09:31:00+00
3,NaN,Subscriber,NaN,2,1987,19921,264,386,9969,7472,Maiden Ln & Pearl St,Centre St & Worth St,-74.007319,40.707065,-74.002345,40.714948,2015-02-02 21:08:00+00,2015-02-02 18:22:00+00
4,NaN,Subscriber,NaN,1,1970,19070,2023,468,9938,9696,E 55 St & Lexington Ave,Broadway & W 55 St,-73.970314,40.759681,-73.981923,40.765265,2015-02-03 16:55:00+00,2015-02-03 14:10:00+00
5,NaN,Subscriber,NaN,1,1985,18088,435,435,9807,15336,W 21 St & 6 Ave,W 21 St & 6 Ave,-73.994156,40.741740,-73.994156,40.741740,2015-02-04 13:36:00+00,2015-02-04 10:53:00+00
6,NaN,Subscriber,NaN,1,1962,14726,2021,457,9711,25203,W 45 St & 8 Ave,Broadway & W 58 St,-73.988597,40.759291,-73.981693,40.766953,2015-02-05 13:54:00+00,2015-02-05 11:12:00+00
7,NaN,Subscriber,NaN,2,1966,14691,517,402,9572,19897,Pershing Square South,Broadway & E 22 St,-73.977910,40.751581,-73.989551,40.740343,2015-02-04 21:48:00+00,2015-02-04 19:09:00+00
8,NaN,Subscriber,NaN,1,1940,14802,499,499,9556,7073,Broadway & W 60 St,Broadway & W 60 St,-73.981918,40.769155,-73.981918,40.769155,2015-02-02 16:05:00+00,2015-02-02 13:25:00+00
9,NaN,Subscriber,NaN,1,1968,15018,324,324,9373,11810,DeKalb Ave & Hudson Ave,DeKalb Ave & Hudson Ave,-73.981013,40.689888,-73.981013,40.689888,2015-02-03 22:01:00+00,2015-02-03 19:25:00+00

- List all unique start_station_id values

In [8]:
q1_4 = '''
SELECT DISTINCT start_station_id FROM citibike
'''
task1_4 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_4)), sep=',')
task1_4

     start_station_id  Unnamed: 1
0                 195         NaN
1                 251         NaN
2                 285         NaN
3                 120         NaN
4                 483         NaN
5                 264         NaN
6                 497         NaN
7                 305         NaN
8                 318         NaN
9                 312         NaN
10                496         NaN
11                455         NaN
12                470         NaN
13                276         NaN
14               2008         NaN
15                313         NaN
16                262         NaN
17                362         NaN
18                151         NaN
19                384         NaN
20                119         NaN
21                399         NaN
22                356         NaN
23                270         NaN
24                437         NaN
25                514         NaN
26                518         NaN
27                329         NaN
28                268         NaN
29                531         NaN
..                ...         ...
297               420         NaN
298               443         NaN
299               490         NaN
300               492         NaN
301               416         NaN
302               331         NaN
303               232         NaN
304               427         NaN
305               377         NaN
306               445         NaN
307               411         NaN
308               260         NaN
309               403         NaN
310               494         NaN
311               244         NaN
312               128         NaN
313               223         NaN
314               456         NaN
315               300         NaN
316               217         NaN
317               538         NaN
318               383         NaN
319               212         NaN
320               353         NaN
321               328         NaN
322               216         NaN
323               263         NaN
324               266         NaN
325               144         NaN
326               453         NaN

[327 rows x 2 columns]

- Aggregation functions:
    - Count the number of trips (aka wc -l in SQL)
    - Find the average/min/max trip durationion <= 3 hours

In [9]:
q1_5 = '''
SELECT COUNT(*) FROM citibike
'''
task1_5 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_5)), sep=',')
task1_5

   count  Unnamed: 1
0  46200         NaN

In [10]:
q1_6 = '''
SELECT AVG(tripduration) FROM citibike
'''
task1_6 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_6)), sep=',')
task1_6

          avg  Unnamed: 1
0  675.865823         NaN

In [11]:
q1_7 = '''
SELECT MIN(tripduration) FROM citibike
'''
task1_7 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_7)), sep=',')
task1_7

   min  Unnamed: 1
0   60         NaN

In [12]:
q1_8 = '''
SELECT MAX(tripduration) FROM citibike
'''
task1_8 = pd.read_csv(StringIO.StringIO(queryCartoDB(q1_8)), sep=',')
task1_8

     max  Unnamed: 1
0  43016         NaN

### Task 2  â€” Working with date/time

- Selecting trips started on Feb-02-2015 only

In [13]:
q2_1 = '''
SELECT * FROM citibike
WHERE starttime >= '2015-02-02 00:00' AND starttime < '2015-02-03 00:00'
'''
task2_1 = pd.read_csv(StringIO.StringIO(queryCartoDB(q2_1)), sep=',')
task2_1.head()

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00

- Selecting trips started on the weekends
    - What are average trip duration during weekends?

In [14]:
q2_2 = '''
SELECT * FROM citibike
WHERE extract(DOW FROM starttime) IN (0,6)
'''
task2_2 = pd.read_csv(StringIO.StringIO(queryCartoDB(q2_2)), sep=',')
task2_2.head(10)

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,1,1965.0,19217,462,435,351,5960,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,NaN,Subscriber,NaN,2,1978.0,17131,423,521,801,1,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
2,NaN,Subscriber,NaN,1,1993.0,21289,504,497,379,2,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
3,NaN,Subscriber,NaN,2,1969.0,18903,127,281,2474,3,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
4,NaN,Subscriber,NaN,2,1985.0,21044,505,2004,818,4,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
5,NaN,Subscriber,NaN,1,1957.0,19868,83,323,544,5,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
6,NaN,Subscriber,NaN,1,1979.0,15854,2002,373,717,6,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
7,NaN,Subscriber,NaN,1,1983.0,15173,504,352,1306,7,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
8,NaN,Subscriber,NaN,1,1955.0,17862,116,439,913,8,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
9,NaN,Subscriber,NaN,2,1985.0,21183,2012,335,759,9,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00

In [15]:
q2_3 = '''
SELECT AVG(tripduration) FROM citibike
WHERE extract(DOW FROM starttime) IN (0,6)
'''
task2_3 = pd.read_csv(StringIO.StringIO(queryCartoDB(q2_3)), sep=',')
task2_3

          avg  Unnamed: 1
0  662.942181         NaN

- Can we do the same for weekday?

In [16]:
q2_4 = '''
SELECT AVG(tripduration) FROM citibike
WHERE extract(DOW FROM starttime) NOT IN (0,6)
'''
task2_4 = pd.read_csv(StringIO.StringIO(queryCartoDB(q2_4)), sep=',')
task2_4

          avg  Unnamed: 1
0  681.052292         NaN

### Task 3 â€” Working with Space

- Showing the list of start station locations
    - Using GROUP BY

In [17]:
q3_1 = '''
SELECT start_station_latitude, start_station_longitude FROM citibike
GROUP BY start_station_latitude, start_station_longitude
'''
task3_1 = pd.read_csv(StringIO.StringIO(queryCartoDB(q3_1)), sep=',')
task3_1

     start_station_latitude  start_station_longitude
0                 40.686919               -73.976682
1                 40.753202               -73.977987
2                 40.715422               -74.011220
3                 40.745497               -74.001971
4                 40.744751               -73.999154
5                 40.742065               -74.004432
6                 40.740964               -73.986022
7                 40.763406               -73.977225
8                 40.716059               -73.991908
9                 40.714948               -74.002345
10                40.703799               -74.008387
11                40.708531               -73.964090
12                40.727434               -73.993790
13                40.762288               -73.983362
14                40.727103               -74.002971
15                40.760660               -73.980420
16                40.685396               -73.974315
17                40.714979               -74.013012
18                40.693317               -73.953820
19                40.688515               -73.964763
20                40.720828               -73.977932
21                40.718710               -74.009001
22                40.690893               -73.996123
23                40.737262               -73.992390
24                40.735238               -74.000271
25                40.683826               -73.976323
26                40.767272               -73.993929
27                40.719392               -74.002472
28                40.750200               -73.990931
29                40.686768               -73.959282
..                      ...                      ...
297               40.689269               -73.989129
298               40.693631               -73.962236
299               40.689888               -73.981013
300               40.770513               -73.988038
301               40.751396               -74.005226
302               40.738177               -73.977387
303               40.721854               -74.007718
304               40.697666               -73.984764
305               40.684568               -73.958811
306               40.686832               -73.979677
307               40.746647               -73.993915
308               40.684157               -73.969223
309               40.715816               -73.994224
310               40.720196               -73.989978
311               40.732241               -74.000264
312               40.735354               -74.004831
313               40.720874               -73.980858
314               40.763441               -73.982681
315               40.750664               -74.001768
316               40.759291               -73.988597
317               40.730386               -74.002150
318               40.683178               -73.965964
319               40.700379               -73.995481
320               40.751873               -73.977706
321               40.764618               -73.987895
322               40.748238               -73.978311
323               40.726218               -73.983799
324               40.746920               -74.004519
325               40.719105               -73.999733
326               40.717227               -73.988021

[327 rows x 2 columns]

- Showing the number of trips started per station

In [18]:
q3_2 = '''
SELECT start_station_id, COUNT(tripduration) FROM citibike
GROUP BY start_station_id, start_station_latitude, start_station_longitude
'''
task3_2 = pd.read_csv(StringIO.StringIO(queryCartoDB(q3_2)), sep=',')
task3_2

     start_station_id  count
0                 438    156
1                 342     78
2                 242     46
3                 161    203
4                 373     27
5                 168    327
6                 502    151
7                 421     37
8                 511    279
9                 422    100
10                150    111
11                346    145
12                336    168
13                447    133
14                224     85
15                456    110
16                233     78
17                391     69
18                329    145
19                403    151
20                497    455
21                473     99
22               2005      7
23                238    125
24                315     69
25                312    207
26                368    238
27                496    250
28                195    137
29                454     55
..                ...    ...
297               366     88
298               433    259
299               348    159
300               475    156
301               404    111
302               212    186
303               261     50
304               530    120
305               152     71
306               393    142
307               257    123
308               279     89
309               344     34
310               449    107
311               358    292
312               464     41
313               390     27
314               458    172
315               345    257
316               431     28
317               250    289
318               453    218
319               265    132
320               271    100
321               351     63
322               267    177
323               335    222
324               485    157
325               470    173
326               349     65

[327 rows x 2 columns]

-  â€¦ but only for stations within 500m of Time Square! The coordinates of Time Square is (40.7577,-73.9857)

In [19]:
q3_3 = '''
SELECT start_station_id, 
CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)) 
as the_geom_webmercator, 
MIN(cartodb_id) as cartodb_id, COUNT(tripduration)
FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, 
CDB_LatLng(40.7577,-73.9857)::geography, 500)
GROUP BY start_station_id, start_station_latitude, start_station_longitude
'''
task3_3 = pd.read_csv(StringIO.StringIO(queryCartoDB(q3_3)), sep=',')
task3_3

,start_station_id,the_geom_webmercator,cartodb_id,count
0,477,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,507
1,2021,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,141
2,465,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,251
3,493,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,141
4,524,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,112
5,529,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,221
6,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,213

### Task 4 â€” Putting it all together

- Find the station that had the longest average trip duration during
weekends and within 500m of TimeSquare!

In [20]:
q4_1 = '''
SELECT start_station_id, 
CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)) 
as the_geom_webmercator, MIN(cartodb_id) as cartodb_id, AVG(tripduration) as avg_duration
FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, 
CDB_LatLng(40.7577,-73.9857)::geography, 500) 
AND extract(DOW FROM starttime) IN (0,6)
GROUP BY start_station_id, start_station_latitude, start_station_longitude
ORDER BY AVG(tripduration) DESC
LIMIT 1
'''
task4_1 = pd.read_csv(StringIO.StringIO(queryCartoDB(q4_1)), sep=',')
task4_1

,start_station_id,the_geom_webmercator,cartodb_id,avg_duration
0,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,1010.104167

- Extra: create lines for trips started from stations within 500m of Times
Squares and lasted less than 2 hours. The number of trips per each
pair of stations are output as attributes of these lines.

In [21]:
q4_2 = '''
SELECT start_station_id, end_station_id, 
ST_Makeline(CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)),
CDB_TransformToWebmercator(CDB_LatLng(end_station_latitude, end_station_longitude))) 
as the_geom_webmercator, MIN(cartodb_id) as cartodb_id, AVG(tripduration) as avg_duration
FROM citibike
WHERE tripduration<7200 and ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude
)::geography, CDB_LatLng(40.7577,-73.9857)::geography, 500)
GROUP BY start_station_id, start_station_latitude, start_station_longitude,
end_station_id, end_station_latitude, end_station_longitude
'''
task4_2 = pd.read_csv(StringIO.StringIO(queryCartoDB(q4_2)), sep=',')
task4_2

,start_station_id,end_station_id,the_geom_webmercator,cartodb_id,avg_duration
0,173,528,0102000020110F00000200000020D6742CE16A5FC112F4...,18466,693.000000
1,477,435,0102000020110F000002000000F55695027D6B5FC186E5...,2226,895.500000
2,465,538,0102000020110F00000200000004AF971C1D6B5FC17A48...,15621,414.500000
3,493,512,0102000020110F0000020000009BB87D02B76A5FC146C1...,34734,700.000000
4,524,72,0102000020110F000002000000F22A632FBE6A5FC1363A...,37006,1086.000000
5,465,446,0102000020110F00000200000004AF971C1D6B5FC17A48...,6007,444.000000
6,524,160,0102000020110F000002000000F22A632FBE6A5FC1363A...,20272,365.250000
7,2021,459,0102000020110F0000020000001607D538556B5FC119A6...,11540,899.333333
8,493,442,0102000020110F0000020000009BB87D02B76A5FC146C1...,13614,457.666667
9,477,263,0102000020110F000002000000F55695027D6B5FC186E5...,39800,1362.000000
10,465,332,0102000020110F00000200000004AF971C1D6B5FC17A48...,29033,2217.000000
11,173,493,0102000020110F00000200000020D6742CE16A5FC112F4...,45442,1251.000000
12,493,454,0102000020110F0000020000009BB87D02B76A5FC146C1...,14181,921.000000
13,2021,495,0102000020110F0000020000001607D538556B5FC119A6...,959,243.500000
14,529,164,0102000020110F0000020000003F9300B2976B5FC1B8B8...,7889,743.000000
15,493,477,0102000020110F0000020000009BB87D02B76A5FC146C1...,7076,269.333333
16,2021,153,0102000020110F0000020000001607D538556B5FC119A6...,33533,414.000000
17,465,254,0102000020110F00000200000004AF971C1D6B5FC17A48...,34712,658.000000
18,529,422,0102000020110F0000020000003F9300B2976B5FC1B8B8...,13230,816.600000
19,477,284,0102000020110F000002000000F55695027D6B5FC186E5...,4507,837.500000
20,477,318,0102000020110F000002000000F55695027D6B5FC186E5...,13031,449.290323
21,524,515,0102000020110F000002000000F22A632FBE6A5FC1363A...,17712,339.000000
22,493,478,0102000020110F0000020000009BB87D02B76A5FC146C1...,34501,465.000000
23,477,465,0102000020110F000002000000F55695027D6B5FC186E5...,9844,213.500000
24,477,492,0102000020110F000002000000F55695027D6B5FC186E5...,356,290.200000
25,465,444,0102000020110F00000200000004AF971C1D6B5FC17A48...,10223,525.200000
26,477,500,0102000020110F000002000000F55695027D6B5FC186E5...,25199,340.000000
27,2021,510,0102000020110F0000020000001607D538556B5FC119A6...,2536,327.500000
28,477,489,0102000020110F000002000000F55695027D6B5FC186E5...,37521,574.000000
29,477,486,0102000020110F000002000000F55695027D6B5FC186E5...,19530,441.750000
...,...,...,...,...,...
542,529,367,0102000020110F0000020000003F9300B2976B5FC1B8B8...,22083,690.000000
543,173,508,0102000020110F00000200000020D6742CE16A5FC112F4...,34099,466.000000
544,173,537,0102000020110F00000200000020D6742CE16A5FC112F4...,7354,984.000000
545,493,515,0102000020110F0000020000009BB87D02B76A5FC146C1...,16753,361.750000
546,173,3002,0102000020110F00000200000020D6742CE16A5FC112F4...,21315,1823.000000
547,524,478,0102000020110F000002000000F22A632FBE6A5FC1363A...,38470,434.000000
548,477,152,0102000020110F000002000000F55695027D6B5FC186E5...,30699,1535.000000
549,465,496,0102000020110F00000200000004AF971C1D6B5FC17A48...,12092,730.000000
550,493,457,0102000020110F0000020000009BB87D02B76A5FC146C1...,12625,760.000000
551,2021,2023,0102000020110F0000020000001607D538556B5FC119A6...,22819,824.000000
552,465,527,0102000020110F00000200000004AF971C1D6B5FC17A48...,8767,726.333333
553,493,2021,0102000020110F0000020000009BB87D02B76A5FC146C1...,14978,229.000000
554,465,461,0102000020110F00000200000004AF971C1D6B5FC17A48...,7686,913.000000
555,529,493,0102000020110F0000020000003F9300B2976B5FC1B8B8...,6699,308.000000
556,477,294,0102000020110F000002000000F55695027D6B5FC186E5...,17638,1153.000000
557,524,442,0102000020110F000002000000F22A632FBE6A5FC1363A...,28510,625.500000
558,493,511,0102000020110F0000020000009BB87D02B76A5FC146C1...,17023,2551.000000
559,493,160,0102000020110F0000020000009BB87D02B76A5FC146C1...,3105,1249.666667
560,173,164,0102000020110F00000200000020D6742CE16A5FC112F4...,13485,697.250000
561,477,415,0102000020110F000002000000F55695027D6B5FC186E5...,13694,2301.000000
562,477,450,0102000020110F000002000000F55695027D6B5FC186E5...,2329,316.625000
563,529,466,0102000020110F0000020000003F9300B2976B5FC1B8B8...,5582,892.500000
564,477,530,0102000020110F000002000000F55695027D6B5FC186E5...,12873,622.000000
565,524,512,0102000020110F000002000000F22A632FBE6A5FC1363A...,17983,869.000000
566,2021,520,0102000020110F0000020000001607D538556B5FC119A6...,22345,459.000000
567,173,422,0102000020110F00000200000020D6742CE16A5FC112F4...,27219,443.500000
568,2021,490,0102000020110F0000020000001607D538556B5FC119A6...,7341,423.500000
569,529,362,0102000020110F0000020000003F9300B2976B5FC1B8B8...,8971,357.000000
570,524,477,0102000020110F000002000000F22A632FBE6A5FC1363A...,36545,252.000000
571,465,280,0102000020110F00000200000004AF971C1D6B5FC17A48...,18854,966.000000

### extra credit: make the function python 2 and 3 compatible so that it works on the PUI2016_Python3 kernel

In [22]:
SQL_SOURCE = 'https://rls672.carto.com/api/v2/sql?q='

#import urllib2
import urllib
#import StringIO
import ast
import pandas as pd
import urllib.request
import urllib.error
import io

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.parse.urlencode({'format': format, 'q': query}).encode("utf-8")
    try:
        response = urllib.request.urlopen(source, data)
    except urllib.error.HTTPError as e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return pd.read_csv(response)

ImportError: No module named request

In [ ]:
test2 = '''
SELECT *
FROM citibike
'''
test2 = queryCartoDB(test2)
test2

## ASH Score 100 . Extra Credit 0